/*  ***********          ASIDE                */
/*  ***********         новые посты           */
/*  ***********                               */

.new-posts {
    width: 272px;
  }
  
  .heading {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
  }
  
  .heading-new-posts {
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .heading-new-posts::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background-color: #e1d9bd;
    margin: 10px auto 0;
  }
  
  .posts {
    display: flex;
    flex-direction: column;
  }
  
  .post-preview:not(:last-of-type) {
    margin-bottom: 10px;
  }
  
  .post-preview {
    display: flex;
  }
  
  .post-img {
    display: block;
  }
  
  .post-meta {
    padding-top: 0;
    margin-top: 0;
  }
  
  .post-info {
    margin-left: 20px;
  }
  
  .post-date {
    color: #9a9a9a;
    font-size: 12px;
  }
  
  .post-name {
    font-size: 14px;
    margin: 0;
    line-height: 1;
  }
  
  .post-name-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
  }
  /* .........................
  ..................форма поиска................*/
  .search-query {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  
  .field {
    width: 220px;
    background-color: #f4f7f6;
    height: 47px;
    padding-left: 21px;
    box-sizing: border-box;
    vertical-align: middle;
    border: none;
  }
  
  .button {
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
    background-position: center;
    background-size: 50%;
    width: 47px;
    height: 47px;
    box-sizing: border-box;
    padding-left: 0;
    border: none;
  
    cursor: pointer;
    background-color: #b59f5b;
    background-repeat: no-repeat;
  }
  
  .mail {
    margin-top: 60px;
  }
  
  .mailing-heading-link,
  .heading-tags-link,
  .heading-topics-link {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
    margin-top: 0;
  }
  
  .mailing-heading {
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .mailing-heading::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background-color: #e1d9bd;
    margin: 10px auto 0;
  }
  
  .mailing-field {
    box-sizing: border-box;
    width: 272px;
    border: none;
    height: 47px;
    font-size: 13px;
    padding-left: 20px;
    height: 40px;
    background-color: #f4f7f6;
  }
  
  .mail-button {
    margin-top: 17px;
    box-sizing: border-box;
    height: 47px;
    padding: 20px 84px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    background-color: #b59f5b;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .aside-tags {
    margin-top: 60px;
  }
  
  .heading-tags {
    margin: 0;
    text-align: center;
    margin-bottom: 22px;
  }
  
  .heading-tags::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background-color: #e1d9bd;
    margin: 10px auto 0;
  }
  
  
  .aside-tags-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  .aside-tags-list-item {
    border: 3px solid #eeeeee;
  }
  
  .aside-tags-list-link {
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 7px 14px;
  }
  
  .aside-tags-list-item:nth-child(n + 2) {
    margin-left: 5px;
  }
  
  .aside-tags-list-item:nth-child(n + 4) {
    margin-top: 6px;
  }
  
  .article-topics {
    margin-top: 60px;
  }
  
  .heading-topics {
    margin: 0;
    text-align: center;
    margin-bottom: 22px;
  }
  
  .heading-topics::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background-color: #e1d9bd;
    margin: 10px auto 0;
  }
  
  .topics {
    margin: 0;
    padding: 0;
  }
  
  .topic {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 17px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
  }
  
  .topic:nth-child(n + 2) {
    padding-top: 20px;
  }
  
  .topic-link {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
  }
  
  .sup {
    font-style: normal;
    font-size: 0.8em;
    vertical-align: 0.6em;
    color: #b59f5b;
    font-weight: bold;
  }