/* 
//////////////////////////////////////////////////////////////////////////////
////////////////////// МЕДИА ДЛЯ ТАБЛЕТА////////////////////////////////////
/////////////////////////////////////////////////////////////////////////*/


 /* ========= TREND ============ */

@media (max-width: 1200px) {
  .trendbox {
    flex-wrap: wrap;
  }
  .trend-article {
    width: calc(50% - 4px);
  }
  .trend-article:not(:first-child) {
    margin-left: 0;
  }
  .trend-article:nth-child(1), .trend-article:nth-child(2) {
    margin-bottom: 4px;
  }
  .trend-article:nth-child(1), .trend-article:nth-child(3) {
    margin-right: 4px;
  }
}

@media (max-width: 640px) {
  .trend-article {
    width: 100%;
    margin: 0;
  }

  .trend-article:nth-child(1), .trend-article:nth-child(3) {
    margin-right: 0;
  }

  .trend-article:not(:last-child) {
    margin-bottom: 4px;
  }
}

/* ======= HEADER ======== */

@media (max-width: 1200px) {
  .header {
    background-image: url('../images/banner-bg-tablet.jpg');
  }
  .menu-list {
    display: none;
  }
   
  .menu__button {
    text-indent: -9999px;
    border: none;
    padding: 0;
    position: relative;
    display: block;
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    cursor: pointer;
  }

  .menu__button::after {
    content: "";
    display: block;
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    margin-top: 5px;
  }

  .menu__button::before {
    content: "";
    display: block;
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    margin-top: 9px;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url('../images/banner-mobile.jpg');
  }
}

/* ========= MAIN ========== */

@media (max-width: 1200px) {
  .main-wrapper {
    justify-content: start;
    flex-direction: column;
  }

  .main-wrapper .news {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-wrapper .new-posts {
    width: 100%;
  }

  .main-wrapper .newsfeed {
    flex-direction: column;
  }

  .main-wrapper .news-preview {
    margin-bottom: 20px;
  }

  .main-wrapper .news-info {
    margin-left: 0;
  }
}

/* ====== PRODUCTS =========== */

@media (max-width: 1200px) {
  .products .product {
    width: calc(50% - 10px);
    margin: 0;
  }

  .products .product:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }

  .products .product:nth-child(1),
  .products .product:nth-child(3) {
    margin-right: 10px;
  }

  .products .product:nth-child(3) {
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .products .product {
    width: 100%;
  }
  .products .product:nth-child(1),
  .products .product:nth-child(3) {
    margin-right: 0;
  }
  .products .product:nth-child(2) {
    margin-top: 20px;
  }
}
