/* *******************************************
****************NEWS************************
*********************************************** */
.main {
    margin-top: 60px;
  }
  
  .main-wrapper {
    max-width: 1200px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  
  .news {
    width: 780px;
    margin-right: 20px;
  }
  
  .newsfeed {
    display: flex;
  }
  
  .news-preview > img {
    display: block;
    width: 100%;
  }
  
  .news-info {
    box-sizing: border-box;
    margin-left: 30px;
  }
  
  .tags {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tags-list-link {
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .tags-list-item:nth-child(n + 2) {
    margin-left: 19px;
  }
  
  .news:nth-child(n + 2) {
    margin-top: 70px;
  }
  
  .newsfeed:nth-child(n + 2) {
    margin-top: 60px;
  }
  
  .news-name-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 20px;
    line-height: 24px;
  }
  
  .news-name {
    margin-top: 0;
  }
  
  .time {
    color: #888888;
    display: block;
    font-size: 12px;
  }
  
  .date_author {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }
  
  .date_author-link {
    font-weight: bold;
    margin-left: 14px;
    text-decoration: none;
    color: #000000;
  }
  
  .news-description {
    display: block;
    font-size: 15px;
    line-height: 22px;
  }