*, 
*::after, 
*::before {
  box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}
  
body {
  margin: 0;
  font-family: OpenSans;
}
   
.menu {
padding-top: 9px;
}
  
.menu-list {
display: flex;
flex-wrap: wrap;
list-style: none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

@media (min-width: 1201px) {
  .menu__button {
    display: none;
  }

  .trend-article:not(:first-child) {
    margin-left: 2px;
  }
  
}
