 /* ***********************************************
  *****************TRENDING *****************************
  **********************************************************/
.trend-section { 
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.trend-heading {
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}

.trend-heading::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}
      
.trendbox {
  display: flex;
  width: 100%;
}

.trend-article {
  width: 25%;
  height: 320px;
  background-position: center;
  background-size: cover; 
  padding: 20px;
  display: flex;
  align-items: end;
  position: relative;
}
  
.trend-article::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.trend-article-01 {
  background-image: url('../images/trend1.jpg');
}

.trend-article-02 {
  background-image: url('../images/trend2.jpg');
}

.trend-article-03 {
  background-image: url('../images/trend3.jpg');
}

.trend-article-04 {
  background-image: url('../images/trend4.jpg');
}

.trendcard {
  width: 100%;
  padding: 16px;
  border: 3px solid rgb(181, 159, 91);
  position: relative;
  z-index: 2;
}

.trend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

 .trend-list-item:not(:first-child) { 
  margin-left: 17px;
}

.trend-list-link {
  position: relative;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
}
.trend-title {
  margin-top: 16px;
}

.trend-text {
  margin: 0;
}

.trend-text-link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
  