*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}
  
body {
  margin: 0;
  font-family: OpenSans;
}
  
.header {
  background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding: 28px 0;
}

.header-wrapper {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.header::after {
content: "";
background-color: #000000;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0.6;
}
  
.container {
display: flex;
justify-content: space-between;
align-items: flex-start;
}
  
.header-title {
padding: 120px 0;
font-size: 45px;
position: relative;
text-transform: uppercase;
color: #ffffff;
margin: auto;
max-width: 800px;
text-align: center;
}
  
.menu {
padding-top: 9px;
}
  
.menu-list {
display: flex;
flex-wrap: wrap;
list-style: none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}


  /* ***************************
  *****************TRENDING 
  **********************************************************/
.trend-section {
 
  width: 1660px;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.trend-heading {
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}

.trend-heading::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}
      
.trendbox {
  display: flex;
  width: 100%;
}

.trend-article {
  width: calc(25% - 4px);
  height: 320px;
  background-position: center;
  background-size: cover; 
  padding: 20px;
  display: flex;
  align-items: end;
  position: relative;
}


.trend-article::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.trend-article-01 {
  background-image: url('../images/trend1.jpg');
}

.trend-article-02 {
  background-image: url('../images/trend2.jpg');
}

.trend-article-03 {
  background-image: url('../images/trend3.jpg');
}

.trend-article-04 {
  background-image: url('../images/trend4.jpg');
}

.trendcard {
  margin-top: 140px;
  padding: 16px;
  border: 3px solid rgb(181, 159, 91);
  position: relative;
  z-index: 2;
}

.trend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

 .trend-list-item { 
  margin-left: 17px;
}

.trend-list-link {
  position: relative;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
}
.trend-title {
  margin-top: 16px;
}

.trend-text {
  margin: 0;
}

.trend-text-link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

/* *******************************************
****************NEWS************************
*********************************************** */
.main {
  margin-top: 60px;
}

.main-wrapper {
  width: 1200px;
  padding: 0 15px;
  /* box-sizing: border-box; */
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.news {
  width: 780px;
}

.newsfeed {
  display: flex;
}

.news-preview > img {
  display: block;
}

.news-info {
  box-sizing: border-box;
  margin-left: 30px;
}

.tags {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.tags-list-link {
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.tags-list-item:nth-child(n + 2) {
  margin-left: 19px;
}

.news:nth-child(n + 2) {
  margin-top: 70px;
}

.newsfeed:nth-child(n + 2) {
  margin-top: 61px;
}

.news-name-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 20px;
  line-height: 24px;
}

.news-name {
  margin-top: 0;
}

.time {
  color: #888888;
  display: block;
  font-size: 12px;
}

.date_author {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.date_author-link {
  font-weight: bold;
  margin-left: 14px;
  text-decoration: none;
  color: #000000;
}

.news-description {
  display: block;
  font-size: 15px;
  line-height: 22px;
}

/*  ***********          ASIDE                */
/*  ***********         новые посты           */
/*  ***********                               */

.new-posts {
  width: 272px;
}

.heading {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
}

.heading-new-posts {
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}

.heading-new-posts::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}

.posts {
  display: flex;
  flex-direction: column;
  width: 272px;
}

.post-preview:not(:last-of-type) {
  margin-bottom: 10px;
}

.post-preview {
  display: flex;
}

.post-img {
  display: block;
}

.post-meta {
  padding-top: 0;
  margin-top: 0;
}

.post-info {
  margin-left: 20px;
}

.post-date {
  color: #9a9a9a;
  font-size: 12px;
}

.post-name {
  font-size: 14px;
  margin: 0;
  line-height: 1;
}

.post-name-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
}
/* .........................
..................форма поиска................*/
.search-query {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.field {
  width: 220px;
  background-color: #f4f7f6;
  height: 47px;
  padding-left: 21px;
  box-sizing: border-box;
  vertical-align: middle;
  border: none;
}

.button {
  background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
  background-position: center;
  background-size: 50%;
  width: 47px;
  height: 47px;
  box-sizing: border-box;
  padding-left: 0;
  border: none;

  cursor: pointer;
  background-color: #b59f5b;
  background-repeat: no-repeat;
}

.mail {
  margin-top: 60px;
}

.mailing-heading-link,
.heading-tags-link,
.heading-topics-link {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  margin-top: 0;
}

.mailing-heading {
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}

.mailing-heading::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}

.mailing-field {
  box-sizing: border-box;
  width: 272px;
  border: none;
  height: 47px;
  font-size: 13px;
  padding-left: 20px;
  height: 40px;
  background-color: #f4f7f6;
}

.mail-button {
  margin-top: 17px;
  box-sizing: border-box;
  height: 47px;
  padding: 20px 84px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-weight: bold;
}

.aside-tags {
  margin-top: 60px;
}

.heading-tags {
  margin: 0;
  text-align: center;
  margin-bottom: 22px;
}

.heading-tags::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}


.aside-tags-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.aside-tags-list-item {
  border: 3px solid #eeeeee;
}

.aside-tags-list-link {
  color: #0f0d0e;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 7px 14px;
}

.aside-tags-list-item:nth-child(n + 2) {
  margin-left: 5px;
}

.aside-tags-list-item:nth-child(n + 4) {
  margin-top: 6px;
}

.article-topics {
  margin-top: 60px;
}

.heading-topics {
  margin: 0;
  text-align: center;
  margin-bottom: 22px;
}

.heading-topics::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}

.topics {
  margin: 0;
  padding: 0;
}

.topic {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 17px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

.topic:nth-child(n + 2) {
  padding-top: 20px;
}

.topic-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.sup {
  font-style: normal;
  font-size: 0.8em;
  vertical-align: 0.6em;
  color: #b59f5b;
  font-weight: bold;
}
/* *******************************************
****************OUR PRODUCTS************************
*********************************************** */
.products_heading {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.products_heading::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}
.products-heading-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
}

.products-wrapper {
  width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product {
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 2%;
  width: 32%;
}

.product__imgbox {
  height: 206px;

}

.product__img {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.product__body {
  margin-top: -30px;
  border: 3px solid #ffd700;
  height: 267px;
  padding-top: 55px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 28px;
  position: relative;
}

.product__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.product__description p {
  margin-top: 0;
  font-size: 15px;
  line-height: 22px;
}

.description_link {
  text-decoration: none;
  color: #b59f5b;
  
}
    
.product:nth-child(3n+2) {
  margin-left: 2%;
  margin-right: 2%;
}

.product__footer {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 10%;
}

.product__price_old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
}

.product__prices {
  
  display: block;
}

.product__price {
  font-size: 24px;
  font-weight: 700;
  color: #222;
  line-height: 1;
  display: block;
 
}
.currency {
  margin-left: .2em;
}

.product__button {
  border: none;
  background-color: #b59f5b;
  padding: .6em 1.8em;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}




  /*......................................
  ................Footer...................
  ........................................
  ........................................*/
  
.footer {
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
}

.address {
  padding: 30px 0;
  background-color: #eeeeee;
}

.social-icons {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-icons-item:not(:first-child) {
  margin-left: 16px;
}

.social-icons-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-icons-link-twitter {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.social-icons-link-pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.social-icons-link-facebook {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.social-icons-link-instagram {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.social-icons-link-tumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.copyright {
  margin-top: 73px;
text-align: center;
 
}

.copyright-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
}
@media (min-width: 1201px) {
  .menu__button {
    display: none;
  }

  .trend-article:not(:first-child) {
    margin-left: 2px;
  }
  
}
/* 
//////////////////////////////////////////////////////////////////////////////
////////////////////// МЕДИА ДЛЯ ТАБЛЕТА////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

 */


@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url('https://github.com/netology-code/mq-diploma/blob/master/sources/img/banner-bg-tablet.jpg?raw=true');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding: 42px 0;
  }

  .header-wrapper {
    width: 698px;
    padding: 0 0;
    margin: auto;
    position: relative;
    z-index: 1;
  }

  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  
  .header-title {
    padding: 102px 0;
    font-size: 40px;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    margin: auto;
    max-width: 698px;
    text-align: center;
  }

  .menu-list {
    display: none;
  }

  .menu__button { 
    width: 24px;
    height: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }
  
  .menu__button {
    display: block;
    width: 23px;
    height: 4px;
    background-color: #ffffff;
  }

  .menu__button::after {
    content: "";
    display: block;
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    margin-top: 5px;
  }

  .menu__button::before {
    content: "";
    display: block;
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    margin-top: 9px;
  }

  .trend-section {
    width: 768px;
    padding: 50px 0 0 0;
    
  }

  .heading {
    font-size: 18px;
  }

  .trendbox {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-article {
    width: calc(50% - 2px);
    height: 248px;
    padding: 20px;
    margin-bottom: 2px;
  }
  .trend-article:nth-child(even) {
    margin-left: 2px;
  }

  .trendcard {
    margin-top: 60px;
    padding: 16px;
    border: 3px solid rgb(181, 159, 91);
    position: relative;
    z-index: 2;
  }

  .main {
    margin-top: 50px;
  }
  
  .main-wrapper {
    box-sizing: border-box;
    width: 768px;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
  }

  .news {
    width: 394px;
  }

  .newsfeed {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 21px;
    
  }

  .newsfeed:nth-child(n + 2) {
    margin-top: 41px;
  }

  .news-info {
    margin: 17px 0 0 0;
  }

  .news-name-link {
    font-size: 17px;
  }

  .aside-tags-list-link {
    padding: 5px 11px;
  }

  .products-heading-link {
    
    font-size: 18px;
    line-height: 29px;
  }

  .products-wrapper {
    width: 698px;
    
  }

  .product {
    width: 48%;
  }







  .footer-wrapper {
    width: 768px;
    padding: 0 35px;
  }

  .copyright {
    margin-top: 48px;
  }
    

}