/* 
//////////////////////////////////////////////////////////////////////////////
////////////////////// МЕДИА ДЛЯ ТАБЛЕТА////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

 */


 @media (min-width: 641px) and (max-width: 1200px) {
    .header {
      background-image: url('https://github.com/netology-code/mq-diploma/blob/master/sources/img/banner-bg-tablet.jpg?raw=true');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: #000000;
      position: relative;
      padding: 42px 0;
    }
  
    .header-wrapper {
      width: 698px;
      padding: 0 0;
      margin: auto;
      position: relative;
      z-index: 1;
    }
  
    .header::after {
      content: "";
      background-color: #000000;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.6;
    }
    
    .header-title {
      padding: 102px 0;
      font-size: 40px;
      position: relative;
      text-transform: uppercase;
      color: #ffffff;
      margin: auto;
      max-width: 698px;
      text-align: center;
    }
  
    .menu-list {
      display: none;
    }
  
    .menu__button { 
      width: 24px;
      height: 20px;
      border: none;
      padding: 0;
      background-color: transparent;
      font-size: 25px;
      position: relative;
      text-indent: -9999px;
      cursor: pointer;
    }
    
    .menu__button {
      display: block;
      width: 23px;
      height: 4px;
      background-color: #ffffff;
    }
  
    .menu__button::after {
      content: "";
      display: block;
      width: 23px;
      height: 4px;
      background-color: #ffffff;
      margin-top: 5px;
    }
  
    .menu__button::before {
      content: "";
      display: block;
      width: 23px;
      height: 4px;
      background-color: #ffffff;
      margin-top: 9px;
    }
  
    .trend-section {
      width: 768px;
      padding: 50px 0 0 0;
      
    }
  
    .heading {
      font-size: 18px;
    }
  
    .trendbox {
      display: flex;
      flex-wrap: wrap;
    }
  
    .trend-article {
      width: calc(50% - 2px);
      height: 248px;
      padding: 20px;
      margin-bottom: 2px;
    }
    .trend-article:nth-child(even) {
      margin-left: 2px;
    }
  
    .trendcard {
      margin-top: 60px;
      padding: 16px;
      border: 3px solid rgb(181, 159, 91);
      position: relative;
      z-index: 2;
    }
  
    .main {
      margin-top: 50px;
    }
    
    .main-wrapper {
      box-sizing: border-box;
      width: 768px;
      padding: 0 35px;
      display: flex;
      justify-content: space-between;
      /* margin: auto; */
    }
  
    .news {
      width: 394px;
    }
  
    .newsfeed {
      display: flex;
      flex-direction: column;
      border-bottom: 3px solid #eeeeee;
      padding-bottom: 21px;
      
    }
  
    .newsfeed:nth-child(n + 2) {
      margin-top: 41px;
    }
  
    .news-info {
      margin: 17px 0 0 0;
    }
  
    .news-name-link {
      font-size: 17px;
    }
  
    .aside-tags-list-link {
      padding: 5px 11px;
    }
  
    .products-heading-link {
      
      font-size: 18px;
      line-height: 29px;
    }
  
    .products-wrapper {
      width: 698px;
      
    }
  
    .product {
      width: 48%;
    }
  
  
  
  
  
  
  
    .footer-wrapper {
      width: 768px;
      padding: 0 35px;
    }
  
    .copyright {
      margin-top: 48px;
    }
      
  
  }